body {
  background-color: rgb(246, 247, 249);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(17, 24, 39);
  font-size: 13px;
  line-height: 1.4;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.navbar {
  heigth: 20%;
  background-color: rgb(180, 247, 160);
  box-shadow: 10px;
}

#wrapper {
  height: 100%;
}

.avatar {
  vertical-align: middle;
  padding-right: 5px;
  height: 40px;
  width: 40px;
}
a > span {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: inline-block;
  width: 20%;
  height: 100%;
}

.container {
  display: inline-block;
  width: 59%;
  height: 100%;
  text-align: center;
}

.container > h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.user {
  display: inline-block;
  width: 20%;
  height: 100%;
}

.logo > img {
  width: 150px;
  vertical-align: middle;
  padding: 10px, 10px, 10px, 10px;
  margin: 10px;
}

.divider {
  background-color: aqua;
  height: 3px;
}

.left-sidebar {
  display: inline-block;
  width: 15%;
  background-color: black;
  color: white;
  height: 90vh;
  margin: 0;
}

.main {
  display: inline-block;
  height: 90vh;
  width: 70%;
  margin: 20px;
  background-color: brown;
}

/* ---------------------------------------- */

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #121212;
  font-family: Inter var, Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 13px;
  line-height: 1.4;
  overflow-x: hidden;
}
#root,
body,
html {
  margin: 0;
  min-height: 100vh;
  position: relative;
}
.h1,
h1 {
  font-size: 24px;
}
.h2,
h2 {
  font-size: 20px;
}
.h3,
h3 {
  font-size: 16px;
}
.h4,
h4 {
  font-size: 15px;
}
.h5,
h5 {
  font-size: 13px;
}
.h6,
h6 {
  font-size: 12px;
}
.ps > .ps__rail-x,
.ps > .ps__rail-y {
  z-index: 99;
}
a[role='button'] {
  text-decoration: none;
}
[role='tooltip'] {
  z-index: 9999;
}
@media only screen and (min-width: 992px) {
  ::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px;
  }
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.06);
    height: 8px;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:active {
    border-radius: 20px;
  }
}
form label {
  z-index: 99;
}
body.no-animate *,
body.no-animate :after,
body.no-animate :before {
  -webkit-animation: none !important;
  animation: none !important;
  transition: none !important;
}
button:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  transitiondelay: 9999s;
  transitionproperty: background-color, color;
}
:focus {
  outline-color: transparent;
}
.fc-scrollgrid-section-liquid {
  height: 1px !important;
}
@media all {
  .page-break-after,
  .page-break-before {
    display: none;
  }
}
@media print {
  body,
  html {
    background: none;
    height: auto !important;
    overflow: visible !important;
    overflow: initial !important;
  }
  .page-break-after {
    display: block;
    page-break-after: always;
    position: relative;
  }
  .page-break-before {
    display: block;
    page-break-before: always;
    position: relative;
  }
  #fuse-footer,
  #fuse-layout .ps > .ps__rail-x,
  #fuse-layout .ps > .ps__rail-y,
  #fuse-navbar,
  #fuse-settings-presets,
  #fuse-toolbar {
    display: none !important;
  }
  #fuse-layout .ps {
    overflow: visible !important;
  }
}
.table-responsive {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  display: block;
  overflow-x: auto;
  width: 100%;
}
table.simple {
  border: none;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}
table.simple thead tr th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-weight: 500;
  padding: 16px 8px;
  white-space: nowrap;
}
table.simple thead tr th:first-child {
  padding-left: 24px;
}
table.simple thead tr th:last-child {
  padding-right: 24px;
}
table.simple tbody tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px 8px;
}
table.simple tbody tr td:first-child {
  padding-left: 24px;
}
table.simple tbody tr td:last-child {
  padding-right: 24px;
}
table.simple tbody tr:last-child td {
  border-bottom: none;
}
table.simple.clickable tbody tr {
  cursor: pointer;
}
table.simple.clickable tbody tr:hover {
  background: rgba(0, 0, 0, 0.03);
}
table.simple.borderless,
table.simple.borderless tbody tr td,
table.simple.borderless thead tr th {
  border: none;
}
code[class*='language-'],
pre[class*='language-'] {
  word-wrap: break-word;
  background: #263238;
  color: #c3cee3;
  font-family: Roboto Mono, Liberation Mono, Menlo, Courier, monospace;
  font-size: 1em;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
}
code[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  background: #363636;
}
:not(pre) > code[class*='language-'] {
  border-radius: 0.2em;
  padding: 0.1em;
  white-space: normal;
}
pre[class*='language-'] {
  border-radius: 16px;
  overflow: auto;
  padding: 10px;
  position: relative;
}
.language-css > code,
.language-sass > code,
.language-scss > code {
  color: #fd9170;
}
[class*='language-'] .namespace {
  opacity: 0.7;
}
.token.plain-text {
  color: #c3cee3;
}
.token.atrule {
  color: #c792ea;
}
.token.attr-name {
  color: #ffcb6b;
}
.token.attr-value,
.token.attribute {
  color: #c3e88d;
}
.token.boolean {
  color: #c792ea;
}
.token.builtin {
  color: #ffcb6b;
}
.token.cdata,
.token.char {
  color: #80cbc4;
}
.token.class {
  color: #ffcb6b;
}
.token.class-name {
  color: #82aaff;
}
.token.color {
  color: #f2ff00;
}
.token.comment {
  color: #546e7a;
}
.token.constant {
  color: #c792ea;
}
.token.deleted {
  color: #f07178;
}
.token.doctype {
  color: #546e7a;
}
.token.entity {
  color: #f07178;
}
.token.function {
  color: #c792ea;
}
.token.hexcode {
  color: #f2ff00;
}
.token.id,
.token.important {
  color: #c792ea;
  font-weight: 700;
}
.token.inserted {
  color: #80cbc4;
}
.token.keyword {
  color: #c792ea;
  font-style: italic;
}
.token.number {
  color: #fd9170;
}
.token.operator {
  color: #89ddff;
}
.token.prolog {
  color: #546e7a;
}
.token.property {
  color: #80cbc4;
}
.token.pseudo-class,
.token.pseudo-element {
  color: #c3e88d;
}
.token.punctuation {
  color: #89ddff;
}
.token.regex {
  color: #f2ff00;
}
.token.selector {
  color: #f07178;
}
.token.string {
  color: #c3e88d;
}
.token.symbol {
  color: #c792ea;
}
.token.tag,
.token.unit {
  color: #f07178;
}
.token.url {
  color: #fd9170;
}
.token.variable {
  color: #f07178;
}
.container {
  width: 100%;
}
@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}
*,
:after,
:before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(33, 150, 243, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: var(--tw-empty, /*!*/ /*!*/);
  --tw-brightness: var(--tw-empty, /*!*/ /*!*/);
  --tw-contrast: var(--tw-empty, /*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty, /*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/);
  --tw-invert: var(--tw-empty, /*!*/ /*!*/);
  --tw-saturate: var(--tw-empty, /*!*/ /*!*/);
  --tw-sepia: var(--tw-empty, /*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  border-color: rgb(238 238 238 / var(--tw-border-opacity));
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.\!invisible {
  visibility: hidden !important;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.inset-x-0 {
  left: 0;
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.z-99 {
  z-index: 99;
}
.z-10 {
  z-index: 10;
}
.z-9999 {
  z-index: 9999;
}
.z-50 {
  z-index: 50;
}
.z-40 {
  z-index: 40;
}
.z-0 {
  z-index: 0;
}
.z-20 {
  z-index: 20;
}
.z-999 {
  z-index: 999;
}
.z-30 {
  z-index: 30;
}
.order-first {
  order: -9999;
}
.m-8 {
  margin: 0.8rem;
}
.m-0 {
  margin: 0;
}
.m-4 {
  margin: 0.4rem;
}
.-m-4 {
  margin: -0.4rem;
}
.m-24 {
  margin: 2.4rem;
}
.m-32 {
  margin: 3.2rem;
}
.m-16 {
  margin: 1.6rem;
}
.-m-8 {
  margin: -0.8rem;
}
.m-3 {
  margin: 0.3rem;
}
.mx-8 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.my-16 {
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
}
.my-8 {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}
.-mx-8 {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}
.mx-4 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.mx-12 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-16 {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.mx-24 {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.-mx-32 {
  margin-left: -3.2rem;
  margin-right: -3.2rem;
}
.-mx-2 {
  margin-left: -0.2rem;
  margin-right: -0.2rem;
}
.mx-2 {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.my-4 {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}
.-mx-4 {
  margin-left: -0.4rem;
  margin-right: -0.4rem;
}
.my-24 {
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}
.my-48 {
  margin-bottom: 4.8rem;
  margin-top: 4.8rem;
}
.my-32 {
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}
.-mx-12 {
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}
.mx-56 {
  margin-left: 5.6rem;
  margin-right: 5.6rem;
}
.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.-mx-6 {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}
.mx-6 {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.mx-48 {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}
.my-128 {
  margin-bottom: 12.8rem;
  margin-top: 12.8rem;
}
.mx-52 {
  margin-left: 5.2rem;
  margin-right: 5.2rem;
}
.-mx-16 {
  margin-left: -1.6rem;
  margin-right: -1.6rem;
}
.mb-52 {
  margin-bottom: 5.2rem;
}
.mr-8 {
  margin-right: 0.8rem;
}
.mb-4 {
  margin-bottom: 0.4rem;
}
.mb-16 {
  margin-bottom: 1.6rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-48 {
  margin-top: 4.8rem;
}
.mb-8 {
  margin-bottom: 0.8rem;
}
.-mb-10 {
  margin-bottom: -1rem;
}
.mr-4 {
  margin-right: 0.4rem;
}
.-mt-24 {
  margin-top: -2.4rem;
}
.mt-12 {
  margin-top: 1.2rem;
}
.mb-32 {
  margin-bottom: 3.2rem;
}
.mb-24 {
  margin-bottom: 2.4rem;
}
.-mb-44 {
  margin-bottom: -4.4rem;
}
.mb-48 {
  margin-bottom: 4.8rem;
}
.-mt-8 {
  margin-top: -0.8rem;
}
.mt-8 {
  margin-top: 0.8rem;
}
.mt-32 {
  margin-top: 3.2rem;
}
.mt-24 {
  margin-top: 2.4rem;
}
.mb-36 {
  margin-bottom: 3.6rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-12 {
  margin-bottom: 1.2rem;
}
.-mb-24 {
  margin-bottom: -2.4rem;
}
.mt-16 {
  margin-top: 1.6rem;
}
.-mb-28 {
  margin-bottom: -2.8rem;
}
.mt-4 {
  margin-top: 0.4rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mb-6 {
  margin-bottom: 0.6rem;
}
.ml-16 {
  margin-left: 1.6rem;
}
.ml-8 {
  margin-left: 0.8rem;
}
.mb-40 {
  margin-bottom: 4rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mt-20 {
  margin-top: 2rem;
}
.-mt-64 {
  margin-top: -6.4rem;
}
.mt-44 {
  margin-top: 4.4rem;
}
.ml-4 {
  margin-left: 0.4rem;
}
.ml-12 {
  margin-left: 1.2rem;
}
.mb-64 {
  margin-bottom: 6.4rem;
}
.mt-64 {
  margin-top: 6.4rem;
}
.mt-96 {
  margin-top: 9.6rem;
}
.mb-80 {
  margin-bottom: 8rem;
}
.-mt-192 {
  margin-top: -19.2rem;
}
.mb-28 {
  margin-bottom: 2.8rem;
}
.-mt-12 {
  margin-top: -1.2rem;
}
.box-content {
  box-sizing: content-box;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.contents {
  display: contents;
}
.hidden {
  display: none;
}
.h-full {
  height: 100%;
}
.h-40 {
  height: 4rem;
}
.h-48 {
  height: 4.8rem;
}
.h-8 {
  height: 0.8rem;
}
.h-56 {
  height: 5.6rem;
}
.h-20 {
  height: 2rem;
}
.h-96 {
  height: 9.6rem;
}
.h-24 {
  height: 2.4rem;
}
.h-72 {
  height: 7.2rem;
}
.h-64 {
  height: 6.4rem;
}
.h-200 {
  height: 20rem;
}
.h-128 {
  height: 12.8rem;
}
.h-52 {
  height: 5.2rem;
}
.h-16 {
  height: 1.6rem;
}
.h-32 {
  height: 3.2rem;
}
.h-256 {
  height: 25.6rem;
}
.h-6 {
  height: 0.6rem;
}
.h-224 {
  height: 22.4rem;
}
.h-44 {
  height: 4.4rem;
}
.h-screen {
  height: 100vh;
}
.h-512 {
  height: 51.2rem;
}
.h-400 {
  height: 40rem;
}
.h-320 {
  height: 32rem;
}
.max-h-64 {
  max-height: 6.4rem;
}
.max-h-full {
  max-height: 100%;
}
.max-h-640 {
  max-height: 64rem;
}
.min-h-screen {
  min-height: 100vh;
}
.min-h-0 {
  min-height: 0;
}
.min-h-40 {
  min-height: 4rem;
}
.min-h-full {
  min-height: 100%;
}
.min-h-48 {
  min-height: 4.8rem;
}
.min-h-64 {
  min-height: 6.4rem;
}
.min-h-px {
  min-height: 1px;
}
.min-h-200 {
  min-height: 20rem;
}
.min-h-92 {
  min-height: 9.2rem;
}
.min-h-32 {
  min-height: 3.2rem;
}
.w-full {
  width: 100%;
}
.w-192 {
  width: 19.2rem;
}
.w-48 {
  width: 4.8rem;
}
.w-24 {
  width: 2.4rem;
}
.w-40 {
  width: 4rem;
}
.w-1\/4 {
  width: 25%;
}
.w-20 {
  width: 2rem;
}
.w-1\/2 {
  width: 50%;
}
.w-320 {
  width: 32rem;
}
.w-64 {
  width: 6.4rem;
}
.w-72 {
  width: 7.2rem;
}
.w-1 {
  width: 0.1rem;
}
.w-96 {
  width: 9.6rem;
}
.w-16 {
  width: 1.6rem;
}
.w-128 {
  width: 12.8rem;
}
.w-224 {
  width: 22.4rem;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-32 {
  width: 3.2rem;
}
.w-52 {
  width: 5.2rem;
}
.w-8 {
  width: 0.8rem;
}
.w-256 {
  width: 25.6rem;
}
.w-xl {
  width: 96rem;
}
.w-80 {
  width: 8rem;
}
.w-px {
  width: 1px;
}
.w-160 {
  width: 16rem;
}
.w-auto {
  width: auto;
}
.w-44 {
  width: 4.4rem;
}
.w-400 {
  width: 40rem;
}
.min-w-64 {
  min-width: 6.4rem;
}
.min-w-40 {
  min-width: 4rem;
}
.min-w-256 {
  min-width: 25.6rem;
}
.min-w-0 {
  min-width: 0;
}
.min-w-20 {
  min-width: 2rem;
}
.min-w-px {
  min-width: 1px;
}
.min-w-24 {
  min-width: 2.4rem;
}
.min-w-48 {
  min-width: 4.8rem;
}
.min-w-full {
  min-width: 100%;
}
.min-w-16 {
  min-width: 1.6rem;
}
.min-w-xl {
  min-width: 96rem;
}
.min-w-32 {
  min-width: 3.2rem;
}
.min-w-128 {
  min-width: 12.8rem;
}
.max-w-full {
  max-width: 100%;
}
.max-w-2xl {
  max-width: 112rem;
}
.max-w-400 {
  max-width: 40rem;
}
.max-w-sm {
  max-width: 48rem;
}
.max-w-320 {
  max-width: 32rem;
}
.max-w-512 {
  max-width: 51.2rem;
}
.max-w-64 {
  max-width: 6.4rem;
}
.max-w-lg {
  max-width: 80rem;
}
.max-w-384 {
  max-width: 38.4rem;
}
.max-w-288 {
  max-width: 28.8rem;
}
.max-w-md {
  max-width: 64rem;
}
.max-w-xl {
  max-width: 96rem;
}
.max-w-160 {
  max-width: 16rem;
}
.max-w-none {
  max-width: none;
}
.max-w-screen-md {
  max-width: 960px;
}
.max-w-192 {
  max-width: 19.2rem;
}
.flex-1 {
  flex: 1 1;
}
.flex-auto {
  flex: 1 1 auto;
}
.shrink {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}
.grow {
  flex-grow: 1;
}
.grow-0 {
  flex-grow: 0;
}
.border-collapse {
  border-collapse: collapse;
}
.transform {
  -webkit-transform: var(--tw-transform);
  transform: var(--tw-transform);
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.cursor-text {
  cursor: text;
}
.resize {
  resize: both;
}
.list-disc {
  list-style-type: disc;
}
.list-decimal {
  list-style-type: decimal;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.overscroll-contain {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate,
.whitespace-nowrap {
  white-space: nowrap;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.break-words {
  overflow-wrap: break-word;
}
.rounded,
.rounded-4 {
  border-radius: 0.4rem;
}
.rounded-6 {
  border-radius: 0.6rem;
}
.rounded-8 {
  border-radius: 0.8rem;
}
.rounded-2 {
  border-radius: 0.2rem;
}
.rounded-lg {
  border-radius: 0.8rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-20 {
  border-radius: 2rem;
}
.rounded-12 {
  border-radius: 1.2rem;
}
.rounded-24 {
  border-radius: 2.4rem;
}
.rounded-16 {
  border-radius: 1.6rem;
}
.rounded-none {
  border-radius: 0;
}
.rounded-b-4 {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.border,
.border-1 {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.border-0 {
  border-width: 0;
}
.border-b-1 {
  border-bottom-width: 1px;
}
.border-l-1 {
  border-left-width: 1px;
}
.border-t-1 {
  border-top-width: 1px;
}
.border-r-1 {
  border-right-width: 1px;
}
.border-solid {
  border-style: solid;
}
.border-red {
  --tw-border-opacity: 1;
  border-color: rgb(244 67 54 / var(--tw-border-opacity));
}
.border-yellow-700 {
  --tw-border-opacity: 1;
  border-color: rgb(251 192 45 / var(--tw-border-opacity));
}
.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(33 150 243 / var(--tw-bg-opacity));
}
.bg-green {
  --tw-bg-opacity: 1;
  background-color: rgb(76 175 80 / var(--tw-bg-opacity));
}
.bg-red {
  background-color: rgb(244 67 54 / var(--tw-bg-opacity));
}
.bg-pink,
.bg-red {
  --tw-bg-opacity: 1;
}
.bg-pink {
  background-color: rgb(233 30 99 / var(--tw-bg-opacity));
}
.bg-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(255 152 0 / var(--tw-bg-opacity));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(34 41 47 / var(--tw-bg-opacity));
}
.bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(67 160 71 / var(--tw-bg-opacity));
}
.bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(25 118 210 / var(--tw-bg-opacity));
}
.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 57 53 / var(--tw-bg-opacity));
}
.bg-orange-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(251 140 0 / var(--tw-bg-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-yellow-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(251 192 45 / var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-red-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(211 47 47 / var(--tw-bg-opacity));
}
.bg-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(156 39 176 / var(--tw-bg-opacity));
}
.bg-green-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(56 142 60 / var(--tw-bg-opacity));
}
.bg-purple-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(186 104 200 / var(--tw-bg-opacity));
}
.bg-green-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(46 125 50 / var(--tw-bg-opacity));
}
.bg-purple-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(123 31 162 / var(--tw-bg-opacity));
}
.bg-blue-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(21 101 192 / var(--tw-bg-opacity));
}
.bg-grey-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(97 97 97 / var(--tw-bg-opacity));
}
.bg-yellow-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 253 231 / var(--tw-bg-opacity));
}
.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 249 196 / var(--tw-bg-opacity));
}
.p-24 {
  padding: 2.4rem;
}
.p-12 {
  padding: 1.2rem;
}
.p-0 {
  padding: 0;
}
.p-16 {
  padding: 1.6rem;
}
.p-8 {
  padding: 0.8rem;
}
.p-4 {
  padding: 0.4rem;
}
.p-64 {
  padding: 6.4rem;
}
.p-20 {
  padding: 2rem;
}
.p-48 {
  padding: 4.8rem;
}
.p-88 {
  padding: 8.8rem;
}
.p-32 {
  padding: 3.2rem;
}
.py-16 {
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}
.px-12 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}
.px-16 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.py-12 {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
}
.px-8 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.py-8 {
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}
.px-24 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.py-4 {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}
.px-4 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.py-32 {
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}
.py-96 {
  padding-bottom: 9.6rem;
  padding-top: 9.6rem;
}
.py-24 {
  padding-bottom: 2.4rem;
  padding-top: 2.4rem;
}
.px-20 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-20 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.px-32 {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.px-2 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.pl-24 {
  padding-left: 2.4rem;
}
.pl-40 {
  padding-left: 4rem;
}
.pl-56 {
  padding-left: 5.6rem;
}
.pl-72 {
  padding-left: 7.2rem;
}
.pl-80 {
  padding-left: 8rem;
}
.pb-12 {
  padding-bottom: 1.2rem;
}
.pb-16 {
  padding-bottom: 1.6rem;
}
.pt-8 {
  padding-top: 0.8rem;
}
.pb-8 {
  padding-bottom: 0.8rem;
}
.pl-8 {
  padding-left: 0.8rem;
}
.pr-28 {
  padding-right: 2.8rem;
}
.pt-24 {
  padding-top: 2.4rem;
}
.pb-64 {
  padding-bottom: 6.4rem;
}
.pb-32 {
  padding-bottom: 3.2rem;
}
.pb-24 {
  padding-bottom: 2.4rem;
}
.pt-16 {
  padding-top: 1.6rem;
}
.pb-40 {
  padding-bottom: 4rem;
}
.pt-136 {
  padding-top: 13.6rem;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-4 {
  padding-bottom: 0.4rem;
}
.pb-96 {
  padding-bottom: 9.6rem;
}
.pt-20 {
  padding-top: 2rem;
}
.pt-0 {
  padding-top: 0;
}
.pl-12 {
  padding-left: 1.2rem;
}
.pt-12 {
  padding-top: 1.2rem;
}
.pr-2 {
  padding-right: 0.2rem;
}
.pl-32 {
  padding-left: 3.2rem;
}
.pb-48 {
  padding-bottom: 4.8rem;
}
.pb-2 {
  padding-bottom: 0.2rem;
}
.pt-32 {
  padding-top: 3.2rem;
}
.pt-48 {
  padding-top: 4.8rem;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-13 {
  font-size: 1.3rem;
}
.text-20 {
  font-size: 2rem;
}
.text-14 {
  font-size: 1.4rem;
}
.text-12 {
  font-size: 1.2rem;
}
.text-10 {
  font-size: 1rem;
}
.text-16 {
  font-size: 1.6rem;
}
.text-11 {
  font-size: 1.1rem;
}
.text-18 {
  font-size: 1.8rem;
}
.text-24 {
  font-size: 2.4rem;
}
.text-128 {
  font-size: 12.8rem;
}
.text-32 {
  font-size: 3.2rem;
}
.text-28 {
  font-size: 2.8rem;
}
.text-48 {
  font-size: 4.8rem;
}
.text-17 {
  font-size: 1.7rem;
}
.text-40 {
  font-size: 4rem;
}
.text-56 {
  font-size: 5.6rem;
}
.text-2xl {
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.text-96 {
  font-size: 9.6rem;
}
.text-72 {
  font-size: 7.2rem;
}
.text-15 {
  font-size: 1.5rem;
}
.text-44 {
  font-size: 4.4rem;
}
.font-semibold {
  font-weight: 600;
}
.font-500,
.font-medium {
  font-weight: 500;
}
.font-700 {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.font-600 {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-light {
  font-weight: 300;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.normal-case {
  text-transform: none;
}
.italic {
  font-style: italic;
}
.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}
.leading-loose {
  line-height: 2;
}
.leading-normal {
  line-height: 1.5;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.tracking-tighter {
  letter-spacing: -0.05em;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.text-green {
  --tw-text-opacity: 1;
  color: rgb(76 175 80 / var(--tw-text-opacity));
}
.text-red {
  --tw-text-opacity: 1;
  color: rgb(244 67 54 / var(--tw-text-opacity));
}
.text-blue {
  --tw-text-opacity: 1;
  color: rgb(33 150 243 / var(--tw-text-opacity));
}
.text-grey-700 {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity));
}
.text-yellow-700 {
  --tw-text-opacity: 1;
  color: rgb(251 192 45 / var(--tw-text-opacity));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(34 41 47 / var(--tw-text-opacity));
}
.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(66 66 66 / var(--tw-text-opacity));
}
.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(21 101 192 / var(--tw-text-opacity));
}
.text-red-800 {
  --tw-text-opacity: 1;
  color: rgb(198 40 40 / var(--tw-text-opacity));
}
.text-orange {
  --tw-text-opacity: 1;
  color: rgb(255 152 0 / var(--tw-text-opacity));
}
.text-orange-800 {
  --tw-text-opacity: 1;
  color: rgb(239 108 0 / var(--tw-text-opacity));
}
.text-green-800 {
  --tw-text-opacity: 1;
  color: rgb(46 125 50 / var(--tw-text-opacity));
}
.text-orange-300 {
  --tw-text-opacity: 1;
  color: rgb(255 183 77 / var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.overline {
  -webkit-text-decoration-line: overline;
  text-decoration-line: overline;
}
.line-through {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}
.opacity-75 {
  opacity: 0.75;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-60 {
  opacity: 0.6;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px 0 var(--tw-shadow-color);
}
.shadow,
.shadow-0 {
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-0 {
  --tw-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0px 0px 0px 0px var(--tw-shadow-color),
    0px 0px 0px 0px var(--tw-shadow-color),
    0px 0px 0px 0px var(--tw-shadow-color);
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -2px var(--tw-shadow-color);
}
.shadow-2xl,
.shadow-lg {
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -1px var(--tw-shadow-color);
}
.shadow-md,
.shadow-xl {
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 10px 10px -5px var(--tw-shadow-color);
}
.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
.shadow-5,
.shadow-none {
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-5 {
  --tw-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  --tw-shadow-colored: 0px 3px 5px -1px var(--tw-shadow-color),
    0px 5px 8px 0px var(--tw-shadow-color),
    0px 1px 14px 0px var(--tw-shadow-color);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.outline {
  outline-style: solid;
}
.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.blur {
  --tw-blur: blur(8px);
}
.blur,
.drop-shadow {
  -webkit-filter: var(--tw-filter);
  filter: var(--tw-filter);
}
.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06));
}
.grayscale {
  --tw-grayscale: grayscale(100%);
}
.grayscale,
.invert {
  -webkit-filter: var(--tw-filter);
  filter: var(--tw-filter);
}
.invert {
  --tw-invert: invert(100%);
}
.filter {
  -webkit-filter: var(--tw-filter);
  filter: var(--tw-filter);
}
.transition {
  transition-duration: 0.15s;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, -webkit-transform, -webkit-filter,
    -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter, -webkit-transform,
    -webkit-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transition-shadow {
  transition-duration: 0.15s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hover\:bg-transparent:hover {
  background-color: transparent;
}
.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.hover\:shadow-md:hover {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -1px var(--tw-shadow-color);
}
.hover\:shadow-lg:hover,
.hover\:shadow-md:hover {
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -2px var(--tw-shadow-color);
}
.focus\:bg-transparent:focus {
  background-color: transparent;
}
[dir='ltr'] .ltr\:right-0 {
  right: 0;
}
[dir='ltr'] .ltr\:left-0 {
  left: 0;
}
[dir='ltr'] .ltr\:mr-48 {
  margin-right: 4.8rem;
}
[dir='ltr'] .ltr\:ml-4 {
  margin-left: 0.4rem;
}
[dir='ltr'] .ltr\:ml-8 {
  margin-left: 0.8rem;
}
[dir='ltr'] .ltr\:mr-8 {
  margin-right: 0.8rem;
}
[dir='ltr'] .ltr\:mr-16 {
  margin-right: 1.6rem;
}
[dir='ltr'] .ltr\:pr-48 {
  padding-right: 4.8rem;
}
[dir='ltr'] .ltr\:pl-40 {
  padding-left: 4rem;
}
[dir='ltr'] .ltr\:pl-56 {
  padding-left: 5.6rem;
}
[dir='ltr'] .ltr\:pl-72 {
  padding-left: 7.2rem;
}
[dir='ltr'] .ltr\:pl-4 {
  padding-left: 0.4rem;
}
[dir='rtl'] .rtl\:left-0 {
  left: 0;
}
[dir='rtl'] .rtl\:right-0 {
  right: 0;
}
[dir='rtl'] .rtl\:ml-48 {
  margin-left: 4.8rem;
}
[dir='rtl'] .rtl\:mr-4 {
  margin-right: 0.4rem;
}
[dir='rtl'] .rtl\:mr-8 {
  margin-right: 0.8rem;
}
[dir='rtl'] .rtl\:ml-8 {
  margin-left: 0.8rem;
}
[dir='rtl'] .rtl\:ml-16 {
  margin-left: 1.6rem;
}
[dir='rtl'] .rtl\:pl-48 {
  padding-left: 4.8rem;
}
[dir='rtl'] .rtl\:pr-40 {
  padding-right: 4rem;
}
[dir='rtl'] .rtl\:pr-56 {
  padding-right: 5.6rem;
}
[dir='rtl'] .rtl\:pr-72 {
  padding-right: 7.2rem;
}
[dir='rtl'] .rtl\:pr-4 {
  padding-right: 0.4rem;
}
@media (min-width: 600px) {
  .sm\:order-none {
    order: 0;
  }
  .sm\:mx-8 {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .sm\:mx-12 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
  .sm\:mb-0 {
    margin-bottom: 0;
  }
  .sm\:mt-16 {
    margin-top: 1.6rem;
  }
  .sm\:mt-32 {
    margin-top: 3.2rem;
  }
  .sm\:mb-12 {
    margin-bottom: 1.2rem;
  }
  .sm\:mt-88 {
    margin-top: 8.8rem;
  }
  .sm\:flex {
    display: flex;
  }
  .sm\:table-cell {
    display: table-cell;
  }
  .sm\:hidden {
    display: none;
  }
  .sm\:h-256 {
    height: 25.6rem;
  }
  .sm\:h-56 {
    height: 5.6rem;
  }
  .sm\:h-360 {
    height: 36rem;
  }
  .sm\:h-288 {
    height: 28.8rem;
  }
  .sm\:h-64 {
    height: 6.4rem;
  }
  .sm\:h-96 {
    height: 9.6rem;
  }
  .sm\:h-320 {
    height: 32rem;
  }
  .sm\:w-320 {
    width: 32rem;
  }
  .sm\:w-224 {
    width: 22.4rem;
  }
  .sm\:w-auto {
    width: auto;
  }
  .sm\:w-160 {
    width: 16rem;
  }
  .sm\:w-1\/2 {
    width: 50%;
  }
  .sm\:w-1\/3 {
    width: 33.333333%;
  }
  .sm\:w-64 {
    width: 6.4rem;
  }
  .sm\:w-48 {
    width: 4.8rem;
  }
  .sm\:min-w-0 {
    min-width: 0;
  }
  .sm\:flex-row {
    flex-direction: row;
  }
  .sm\:items-start {
    align-items: flex-start;
  }
  .sm\:items-center {
    align-items: center;
  }
  .sm\:justify-start {
    justify-content: flex-start;
  }
  .sm\:justify-center {
    justify-content: center;
  }
  .sm\:justify-between {
    justify-content: space-between;
  }
  .sm\:rounded-16 {
    border-radius: 1.6rem;
  }
  .sm\:rounded-20 {
    border-radius: 2rem;
  }
  .sm\:border-1 {
    border-width: 1px;
  }
  .sm\:p-32 {
    padding: 3.2rem;
  }
  .sm\:p-24 {
    padding: 2.4rem;
  }
  .sm\:p-12 {
    padding: 1.2rem;
  }
  .sm\:p-48 {
    padding: 4.8rem;
  }
  .sm\:p-16 {
    padding: 1.6rem;
  }
  .sm\:p-8 {
    padding: 0.8rem;
  }
  .sm\:p-64 {
    padding: 6.4rem;
  }
  .sm\:px-12 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .sm\:px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .sm\:px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .sm\:px-20 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sm\:px-8 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .sm\:py-32 {
    padding-bottom: 3.2rem;
    padding-top: 3.2rem;
  }
  .sm\:py-24 {
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;
  }
  .sm\:pb-0 {
    padding-bottom: 0;
  }
  .sm\:pb-64 {
    padding-bottom: 6.4rem;
  }
  .sm\:pt-0 {
    padding-top: 0;
  }
  .sm\:pb-16 {
    padding-bottom: 1.6rem;
  }
  .sm\:text-20 {
    font-size: 2rem;
  }
  .sm\:text-24 {
    font-size: 2.4rem;
  }
  .sm\:text-56 {
    font-size: 5.6rem;
  }
  .sm\:text-44 {
    font-size: 4.4rem;
  }
  .sm\:text-14 {
    font-size: 1.4rem;
  }
  .sm\:text-16 {
    font-size: 1.6rem;
  }
  .sm\:text-18 {
    font-size: 1.8rem;
  }
  .sm\:text-40 {
    font-size: 4rem;
  }
  .sm\:leading-loose {
    line-height: 2;
  }
  [dir='ltr'] .sm\:ltr\:text-left {
    text-align: left;
  }
  [dir='rtl'] .sm\:rtl\:text-right {
    text-align: right;
  }
}
@media (min-width: 960px) {
  .md\:m-0 {
    margin: 0;
  }
  .md\:mx-4 {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .md\:mb-68 {
    margin-bottom: 6.8rem;
  }
  .md\:mt-0 {
    margin-top: 0;
  }
  .md\:mb-0 {
    margin-bottom: 0;
  }
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
  .md\:h-48 {
    height: 4.8rem;
  }
  .md\:h-64 {
    height: 6.4rem;
  }
  .md\:min-h-64 {
    min-height: 6.4rem;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-320 {
    width: 32rem;
  }
  .md\:w-full {
    width: 100%;
  }
  .md\:w-64 {
    width: 6.4rem;
  }
  .md\:w-1\/4 {
    width: 25%;
  }
  .md\:max-w-3xl {
    max-width: 128rem;
  }
  .md\:max-w-256 {
    max-width: 25.6rem;
  }
  .md\:flex-1 {
    flex: 1 1;
  }
  .md\:shrink-0 {
    flex-shrink: 0;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:items-start {
    align-items: flex-start;
  }
  .md\:overflow-hidden {
    overflow: hidden;
  }
  .md\:rounded-none {
    border-radius: 0;
  }
  .md\:p-24 {
    padding: 2.4rem;
  }
  .md\:p-64 {
    padding: 6.4rem;
  }
  .md\:p-12 {
    padding: 1.2rem;
  }
  .md\:p-8 {
    padding: 0.8rem;
  }
  .md\:p-16 {
    padding: 1.6rem;
  }
  .md\:p-48 {
    padding: 4.8rem;
  }
  .md\:p-32 {
    padding: 3.2rem;
  }
  .md\:p-0 {
    padding: 0;
  }
  .md\:p-128 {
    padding: 12.8rem;
  }
  .md\:px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .md\:py-6 {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
  }
  .md\:px-12 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .md\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .md\:px-8 {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .md\:py-24 {
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;
  }
  .md\:px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .md\:pb-64 {
    padding-bottom: 6.4rem;
  }
  .md\:pb-32 {
    padding-bottom: 3.2rem;
  }
  .md\:pt-128 {
    padding-top: 12.8rem;
  }
  .md\:text-left {
    text-align: left;
  }
  .md\:text-18 {
    font-size: 1.8rem;
  }
  .md\:text-32 {
    font-size: 3.2rem;
  }
  .md\:text-24 {
    font-size: 2.4rem;
  }
  .md\:text-64 {
    font-size: 6.4rem;
  }
  .md\:text-52 {
    font-size: 5.2rem;
  }
  [dir='ltr'] .md\:ltr\:pr-32 {
    padding-right: 3.2rem;
  }
  [dir='rtl'] .md\:rtl\:pl-32 {
    padding-left: 3.2rem;
  }
}
@media (min-width: 1280px) {
  .lg\:mx-24 {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
  .lg\:-mx-4 {
    margin-left: -0.4rem;
    margin-right: -0.4rem;
  }
  .lg\:mr-80 {
    margin-right: 8rem;
  }
  .lg\:w-1\/3 {
    width: 33.333333%;
  }
  .lg\:w-1\/2 {
    width: 50%;
  }
  .lg\:rounded-16 {
    border-radius: 1.6rem;
  }
  .lg\:rounded-20 {
    border-radius: 2rem;
  }
  .lg\:p-24 {
    padding: 2.4rem;
  }
  .lg\:px-12 {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .lg\:px-24 {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .lg\:px-20 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .lg\:px-4 {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  .lg\:pr-0 {
    padding-right: 0;
  }
  .lg\:pt-0 {
    padding-top: 0;
  }
  .lg\:shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
      0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  [dir='ltr'] .lg\:ltr\:pl-0 {
    padding-left: 0;
  }
  [dir='ltr'] .lg\:ltr\:pr-4 {
    padding-right: 0.4rem;
  }
  [dir='ltr'] .lg\:ltr\:pl-16 {
    padding-left: 1.6rem;
  }
  [dir='ltr'] .lg\:ltr\:pr-0,
  [dir='rtl'] .lg\:rtl\:pr-0 {
    padding-right: 0;
  }
  [dir='rtl'] .lg\:rtl\:pl-4 {
    padding-left: 0.4rem;
  }
  [dir='rtl'] .lg\:rtl\:pr-16 {
    padding-right: 1.6rem;
  }
  [dir='rtl'] .lg\:rtl\:pl-0 {
    padding-left: 0;
  }
}
@media print {
  .print\:mx-16 {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
  .print\:mb-12 {
    margin-bottom: 1.2rem;
  }
  .print\:mb-0 {
    margin-bottom: 0;
  }
  .print\:mt-0 {
    margin-top: 0;
  }
  .print\:w-full {
    width: 100%;
  }
  .print\:w-60 {
    width: 6rem;
  }
  .print\:p-0 {
    padding: 0;
  }
  .print\:p-8 {
    padding: 0.8rem;
  }
  .print\:px-16 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .print\:text-16 {
    font-size: 1.6rem;
  }
  .print\:shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}
.ps {
  -ms-overflow-style: none;
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
  -ms-touch-action: auto;
}
.ps__rail-x {
  bottom: 0;
  height: 15px;
}
.ps__rail-x,
.ps__rail-y {
  display: none;
  opacity: 0;
  position: absolute;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
}
.ps__rail-y {
  right: 0;
  width: 15px;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  background-color: transparent;
  display: block;
}
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y,
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y {
  opacity: 0.6;
}
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background-color: #eee;
  opacity: 0.9;
}
.ps__thumb-x {
  bottom: 2px;
  height: 6px;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
}
.ps__thumb-x,
.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  position: absolute;
}
.ps__thumb-y {
  right: 2px;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 6px;
}
.ps__rail-x.ps--clicking .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x:hover > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}
.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .ps {
    overflow: auto !important;
  }
}
